In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(rc={'figure.figsize':(11.7,8.27)})

In [2]:
drinks = pd.read_csv('drinks.csv')
lifespan = pd.read_csv('Life Expectancy Data.csv')

In [3]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [4]:
drinks.shape

(193, 6)

In [5]:
lifespan.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [6]:
lifespan.shape

(2938, 22)

In [7]:
# 1
len(drinks['continent'].unique())

6

In [8]:
lifespan.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [9]:
# 2
lifespan.groupby('Country')['Life expectancy '].mean()

Country
Afghanistan                                             58.19375
Albania                                                 75.15625
Algeria                                                 73.61875
Angola                                                  49.01875
Antigua and Barbuda                                     75.05625
Argentina                                               75.15625
Armenia                                                 73.40000
Australia                                               81.81250
Austria                                                 81.48125
Azerbaijan                                              70.73125
Bahamas                                                 74.28750
Bahrain                                                 75.72500
Bangladesh                                              69.30000
Barbados                                                74.35625
Belarus                                                 69.90625
Belgium                                                 80.68125
Belize                                                  69.26875
Benin                                                   57.56875
Bhutan                                                  66.16250
Bolivia (Plurinational State of)                        67.70625
Bosnia and Herzegovina                                  75.96875
Botswana                                                56.05000
Brazil                                                  73.38125
Brunei Darussalam                                       76.48750
Bulgaria                                                72.85000
Burkina Faso                                            55.64375
Burundi                                                 55.53750
Cabo Verde                                              72.51875
Cambodia                                                64.34375
Cameroon                                                54.01875
                                                          ...
Suriname                                                70.08125
Swaziland                                               51.32500
Sweden                                                  82.51875
Switzerland                                             82.33125
Syrian Arab Republic                                    70.85000
Tajikistan                                              66.65625
Thailand                                                73.08125
The former Yugoslav republic of Macedonia               74.11250
Timor-Leste                                             64.75625
Togo                                                    56.66250
Tonga                                                   72.53125
Trinidad and Tobago                                     71.06875
Tunisia                                                 74.35625
Turkey                                                  73.91250
Turkmenistan                                            64.61875
Tuvalu                                                       NaN
Uganda                                                  55.70625
Ukraine                                                 69.93750
United Arab Emirates                                    75.70000
United Kingdom of Great Britain and Northern Ireland    80.79375
United Republic of Tanzania                             56.00625
United States of America                                78.06250
Uruguay                                                 76.07500
Uzbekistan                                              68.03125
Vanuatu                                                 71.38750
Venezuela (Bolivarian Republic of)                      73.38750
Viet Nam                                                74.77500
Yemen                                                   63.86250
Zambia                                                  53.90625
Zimbabwe                                                50.48750
Name: Life expectancy , Length: 193, dtype: float64

In [10]:
# 3
drinks.beer_servings.sum() +  drinks.wine_servings.sum()

30033

In [11]:
# 4
lifespan.loc[lifespan['Life expectancy ']==lifespan['Life expectancy '].max()][['Country','Year']]

          Country  Year
241       Belgium  2014
915       Finland  2014
937        France  2008
938        France  2007
995       Germany  2014
1293        Italy  2004
1850  New Zealand  2010
1916       Norway  2009
2056     Portugal  2014
2433        Spain  2007
2513       Sweden  2007

In [12]:
lifespan.rename(columns={'Country':'country'},inplace=True)

In [13]:
# 5
lifespan.Year.unique()

array([2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005,
       2004, 2003, 2002, 2001, 2000], dtype=int64)

In [14]:
merged = pd.merge(drinks,lifespan.loc[lifespan.Year == 2015 ][['country','Life expectancy ']],on='country')

In [15]:
merged.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,Life expectancy
0,Afghanistan,0,0,0,0.0,AS,65.0
1,Albania,89,132,54,4.9,EU,77.8
2,Algeria,25,0,14,0.7,AF,75.6
3,Angola,217,57,45,5.9,AF,52.4
4,Argentina,193,25,221,8.3,SA,76.3

In [16]:
merged.isnull().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       16
Life expectancy                  0
dtype: int64

In [17]:
merged.shape

(158, 7)

In [18]:
merged.continent.unique()

array(['AS', 'EU', 'AF', 'SA', 'OC', nan], dtype=object)

In [19]:
nulls = list()
for k in range(len(merged['continent'])):
    if isinstance(merged['continent'][k],str):
        continue
    nulls.append(k)

In [20]:
nulls

[9, 12, 15, 26, 34, 36, 40, 43, 57, 58, 62, 63, 72, 95, 105, 111]

In [21]:
for x in nulls:
    print(merged.iloc[x])

country                         Bahamas
beer_servings                       122
spirit_servings                     176
wine_servings                        51
total_litres_of_pure_alcohol        6.3
continent                           NaN
Life expectancy                    76.1
Name: 9, dtype: object
country                         Barbados
beer_servings                        143
spirit_servings                      173
wine_servings                         36
total_litres_of_pure_alcohol         6.3
continent                            NaN
Life expectancy                     75.5
Name: 12, dtype: object
country                         Belize
beer_servings                      263
spirit_servings                    114
wine_servings                        8
total_litres_of_pure_alcohol       6.8
continent                          NaN
Life expectancy                     71
Name: 15, dtype: object
country                         Canada
beer_servings                      240
spirit_servings                    122
wine_servings                      100
total_litres_of_pure_alcohol       8.2
continent                          NaN
Life expectancy                   82.2
Name: 26, dtype: object
country                         Costa Rica
beer_servings                          149
spirit_servings                         87
wine_servings                           11
total_litres_of_pure_alcohol           4.4
continent                              NaN
Life expectancy                       79.6
Name: 34, dtype: object
country                         Cuba
beer_servings                     93
spirit_servings                  137
wine_servings                      5
total_litres_of_pure_alcohol     4.2
continent                        NaN
Life expectancy                 79.1
Name: 36, dtype: object
country                         Dominican Republic
beer_servings                                  193
spirit_servings                                147
wine_servings                                    9
total_litres_of_pure_alcohol                   6.2
continent                                      NaN
Life expectancy                               73.9
Name: 40, dtype: object
country                         El Salvador
beer_servings                            52
spirit_servings                          69
wine_servings                             2
total_litres_of_pure_alcohol            2.2
continent                               NaN
Life expectancy                        73.5
Name: 43, dtype: object
country                         Grenada
beer_servings                       199
spirit_servings                     438
wine_servings                        28
total_litres_of_pure_alcohol       11.9
continent                           NaN
Life expectancy                    73.6
Name: 57, dtype: object
country                         Guatemala
beer_servings                          53
spirit_servings                        69
wine_servings                           2
total_litres_of_pure_alcohol          2.2
continent                             NaN
Life expectancy                      71.9
Name: 58, dtype: object
country                         Haiti
beer_servings                       1
spirit_servings                   326
wine_servings                       1
total_litres_of_pure_alcohol      5.9
continent                         NaN
Life expectancy                  63.5
Name: 62, dtype: object
country                         Honduras
beer_servings                         69
spirit_servings                       98
wine_servings                          2
total_litres_of_pure_alcohol           3
continent                            NaN
Life expectancy                     74.6
Name: 63, dtype: object
country                         Jamaica
beer_servings                        82
spirit_servings                      97
wine_servings                         9
total_litres_of_pure_alcohol        3.4
continent                           NaN
Life expectancy                    76.2
Name: 72, dtype: object
country                         Mexico
beer_servings                      238
spirit_servings                     68
wine_servings                        5
total_litres_of_pure_alcohol       5.5
continent                          NaN
Life expectancy                   76.7
Name: 95, dtype: object
country                         Nicaragua
beer_servings                          78
spirit_servings                       118
wine_servings                           1
total_litres_of_pure_alcohol          3.5
continent                             NaN
Life expectancy                      74.8
Name: 105, dtype: object
country                         Panama
beer_servings                      285
spirit_servings                    104
wine_servings                       18
total_litres_of_pure_alcohol       7.2
continent                          NaN
Life expectancy                   77.8
Name: 111, dtype: object

In [22]:
merged = merged.dropna()

In [23]:
merged.drop('country',inplace=True,axis=1)

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [25]:
LE= LabelEncoder()
merged.continent = LE.fit_transform(merged.continent)

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, adjusted_rand_score, mean_absolute_error, mean_squared_error
LR = LinearRegression()

In [27]:
def linReg(x,y):
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 15)
    LR.fit(x_train,y_train)
    pred = LR.predict(x_test)
    r_sq = r2_score(pred,y_test)
    adjr = adjusted_rand_score(y_test,pred)
    return ("Linear\nAdjusted R : {} R Squared : {} MAE : {} MSE : {} RMSE : {}".format(adjr,r_sq,mean_absolute_error(pred,y_test),mean_squared_error(pred,y_test),np.sqrt(mean_squared_error(pred,y_test))))

In [28]:
linReg(merged.drop('Life expectancy ',axis=1),merged['Life expectancy '])

'Linear\nAdjusted R : -0.0049504950495049506 R Squared : 0.4900295305010439 MAE : 3.508242214822086 MSE : 20.43461621972569 RMSE : 4.520466371927314'